<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.integration.workflow.mapper.OvertimeMapper">
  
  <insert id="insertData" useGeneratedKeys="true" keyProperty="id" parameterType="com.demo.integration.workflow.entity.Overtime">
    INSERT INTO workflow_overtime(CREATE_BY) VALUES(#{createBy})
  </insert>
  
  <update id="updateData" parameterType="com.demo.integration.workflow.entity.Overtime">
    UPDATE workflow_overtime
    SET start_time = #{startTime}
       ,end_time = #{endTime}
       ,reason = #{reason}
    WHERE ID = #{id}   
  </update>
  
</mapper>