<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.integration.workflow.mapper.WorkflowMapper">
    <resultMap type="com.demo.integration.workflow.entity.WorkflowInfo" id="workflowInfoMap">
        <result column="TASK_ID" property="taskId" />
        <result column="EXECUTION_ID_" property="executionId" />
        <result column="PROC_INST_ID_" property="processInstanceId" />
        <result column="TASK_NAME" property="taskName" />
        <result column="CREATE_TIME_" property="createTime" />
        <result column="CLAIM_TIME_" property="claimTime" />
        <result column="ASSIGNEE_" property="assignee"/>
        <result column="BUSINESS_ID" property="businessId" />
        <result column="TITLE" property="title" />
        <result column="PROCESS_KEY" property="processKey" />
        <result column="PROCESS_NAME" property="processName" />
        <result column="CREATE_BY" property="createBy" />
        <result column="RECEIPT_TIME" property="receiptTime" />
        <result column="COMPLETED_TIME" property="completedTime" />
        <result column="STATUS" property="status" />
        <result column="ATTACHMENT" property="attachment" />
        <result column="OPERATION" property="operation" />
    </resultMap>
    
    <select id="getMyWaitList" resultMap="workflowInfoMap">
        SELECT 
            T.ID_ AS TASK_ID
            , T.EXECUTION_ID_
            , T.PROC_INST_ID_
            , T.NAME_  AS TASK_NAME
            , T.CREATE_TIME_ AS RECEIPT_TIME
            , T.ASSIGNEE_
            , W.BUSINESS_ID 
            , W.TITLE
            , W.CREATE_BY 
            , W.STATUS
            , W.PROCESS_KEY
            , W.PROCESS_NAME
        FROM ACT_RU_TASK T
        LEFT JOIN WORKFLOW_INFO W
        ON T.PROC_INST_ID_ = W.PROC_INST_ID
        LEFT JOIN ACT_RU_IDENTITYLINK I
        ON I.TASK_ID_ = T.ID_
        WHERE T.ASSIGNEE_ = #{username}
        OR (T.ASSIGNEE_ IS NULL AND (I.USER_ID_ = #{username} OR I.GROUP_ID_ IN (
              SELECT ROLE FROM USER_INFO U,SYS_ROLE R,SYS_USER_ROLE UR  
              WHERE U.USERNAME = #{username} AND U.ID = UR.USER_ID AND UR.ROLE_ID = R.ID))) 
        ORDER BY T.CREATE_TIME_ DESC
    </select>
    
    <select id="getMyDoneList" resultMap="workflowInfoMap">
        SELECT W.PROC_INST_ID AS PROC_INST_ID_
            , W.BUSINESS_ID 
            , W.TITLE
            , W.CREATE_BY 
            , T.END_TIME_ AS COMPLETED_TIME
            , W.STATUS
            , W.PROCESS_KEY
            , W.PROCESS_NAME
            , T.NAME_  AS TASK_NAME
        FROM WORKFLOW_INFO W,ACT_HI_TASKINST T
        WHERE W.PROC_INST_ID = T.PROC_INST_ID_
        AND T.END_TIME_ IS NOT NULL
        AND (T.OWNER_ = #{username} OR T.ASSIGNEE_ = #{username})
    </select>
    
    <select id="getHistoryList" resultMap="workflowInfoMap">
        SELECT W.PROC_INST_ID PROC_INST_ID_
            , W.BUSINESS_ID 
            , W.TITLE
            , W.CREATE_BY 
            , W.CREATE_TIME CREATE_TIME_
            , W.COMPLETED_TIME
            , W.STATUS
            , W.PROCESS_KEY
            , W.PROCESS_NAME
        FROM WORKFLOW_INFO W
        <where>
	        <if test="workflowInfo.processInstanceId != null and workflowInfo.processInstanceId != '' ">
	            AND W.PROC_INST_ID = #{workflowInfo.processInstanceId}
	        </if>
	        <if test="workflowInfo.title != null and workflowInfo.title != '' ">
	            AND W.TITLE = #{workflowInfo.title}
	        </if>
	        <if test="workflowInfo.processKey != null and workflowInfo.processKey != '' ">
	            AND W.PROCESS_KEY = #{workflowInfo.processKey}
	        </if>
	        <if test="workflowInfo.status != null and workflowInfo.status != '' and workflowInfo.status != '所有状态' ">
	            AND W.STATUS = #{workflowInfo.status}
	        </if>
	        <if test="workflowInfo.createTime != null and workflowInfo.completedTime == null ">
	            AND W.CREATE_TIME >= #{workflowInfo.createTime} 
	        </if>
	        <if test="workflowInfo.createTime == null and workflowInfo.completedTime != null ">
	            AND W.CREATE_TIME <![CDATA[<=]]> #{workflowInfo.completedTime} 
	        </if>
	        <if test="workflowInfo.createTime != null and workflowInfo.completedTime != null ">
	            AND W.CREATE_TIME BETWEEN #{workflowInfo.createTime} AND #{workflowInfo.completedTime}
	        </if>
        </where>
    </select>
    
    <insert id="insertWorkflow">
        INSERT INTO workflow_info(
            PROC_INST_ID
            ,BUSINESS_ID
            ,TITLE
            ,PROCESS_KEY
            ,PROCESS_NAME
            ,STATUS
            ,CREATE_BY
            ,CREATE_TIME
        ) VALUES(
            #{processInstanceId}
            ,#{businessId}
            ,#{title}
            ,#{processKey}
            ,#{processName}
            ,#{status}
            ,#{createBy}
            ,NOW()
        )
        
    </insert>
    
    <update id="updateWorkflow">
        UPDATE workflow_info
        <set>
            <if test="status != null">
                STATUS = #{status}
            </if>
            <if test="completedTime != null">
                ,COMPLETED_TIME = #{completedTime}
            </if>
        </set>
        WHERE PROC_INST_ID = #{processInstanceId}
    </update>
    
</mapper>