@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	height: 100%;
	width: 100%;
}

header {
	position: relative;
	margin: 0;
	height: 60px;
	width: 100%;
	background-color: #34b2b1;
	border-bottom: 1px solid #1BA3A3;
}

header .brand {
	float: left;
	height: 60px;
	width: 160px;
	text-align: center;
	cursor: pointer;
}

header .brand > span{
	font-size: 40px;
	line-height: 60px;
	color: #fff;
	
}

header .head-nav {
	float: left;
	width: calc(100% - 460px);
	height: 60px;
}

header .head-tab {
	position: relative;
	float: left;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	cursor: default;
}

header .head-tab:hover{
    background-color: #009f9f;
}

header .select-tab {
	background-color: #008B8B;
}

header .head-tab span{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 60px; 
	color: #fff;
}

header .head-tab i{
	display: none;
}

header .select-tab i{
	position: absolute;
	top: 2px;
	right: 5px;
    display: block;
    color: #fff;
    cursor: pointer;
}

header .head-right {
	float: right;
	height: 60px;
	width: 300px;
}

header .head-right .head-menu{
	float: right;
	text-align: center;
	font-size: 24px;
	color: #fff;
	line-height: 60px;
	width: 60px;
	cursor: pointer;
}

header .head-right .head-menu:hover {
	transform: translateY(-5px);
}

section {
	position: relative;
	width: 100%;
	height: calc(100% - 100px);
}

footer {
	position: fixed;
	bottom : 0;
	width: 100%;
	text-align: center;
	line-height: 39px;
	background: #34b2b1;
	border-top: 1px solid #1BA3A3;
	color: #fff;
}

iframe {
	border: none;
	width: 100%;
	height: calc(100% - 10px);
}

.table{
	display: table;
	height: 100%;
	width: 100%;
}

.table-row-group{
	display: table-row-group;
}

.table-row {
	display: table-row;
}

.sidebar{
	display: table-cell;
	vertical-align: top;
    width: 160px;
    height: 100%;
    border-right: 1px solid #d6d6d6;
}

.sidebar-narrow {
	width: 45px;
}

.main-content {
    display: table-cell;
    vertical-align: baseline;
    height: 100%;
    width: auto;
}

.start-up {
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	height: 30px;
	border-bottom: 1px solid #d6d6d6;
	cursor: pointer;
}

.start-up span {
	line-height: 29px;
}

.upward ,.downward{
	vertical-align: middle;
    text-align: center;
    font-size: 16px;
    height: 24px;
    cursor: pointer;
}

.upward span,.downward span{
	line-height: 23px;
}

.upward {
	border-bottom: 1px solid #d6d6d6;
}

.downward {
    border-top: 1px solid #d6d6d6;
}

.menu-on{
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-left: 4px solid #1BA3A3;
}

.sidebar-menu .sidebar-ul li {
	text-align: center;
	padding: 12px;
	list-style: none;
	cursor: pointer;
}

.sidebar-menu .sidebar-ul li a{
    text-decoration: none;
    margin-left: 10px;
}

.sidebar-nav .sidebar-menu-2 .two-menu {
	position: absolute;
	top: 54px;
	left: 160px;
	height: calc(100% - 54px);
	width: 350px;
	border: 1px solid #d6d6d6;
	background-color: #fff;
	border-bottom: none;
	overflow-y: auto;
	border-radius: 5px;
	box-shadow: 2px 2px 6px 0 #DADADA;
	-webkit-box-shadow: 2px 2px 6px 0 #DADADA;
}

.sidebar-nav .sidebar-menu-2 .menu-narrow {
	left: 45px;
}

.sidebar-nav .sidebar-menu-2 .two-menu ul{
	list-style: disc;
	padding-left: 30px;
	margin: 0;
}

.sidebar-nav .sidebar-menu-2 .two-menu ul li{
	margin: 16px;
}

.sidebar-nav .sidebar-menu-2 .two-menu ul li a{
    text-decoration: none;
}


.display-none {
	display: none;
}
