.login-center{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 50%;
    width: 350px;
    padding: 40px 30px;
    background: rgba(238, 238, 238, 0.5);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
body{
    /* background: url(../image/a.jpg) top center no-repeat; */
    background-size: cover;
    background-color: #34b2b1;
}
h3{
    text-align: center;
}