<!DOCTYPE html>
<html>
<head lang="zh">
<title>历史查询</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/plugin/jquery-easyui-1.5.5/themes/icon.css">
<link rel="stylesheet" href="/plugin/jquery-easyui-1.5.5/themes/gray/easyui.css">
<script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
<script type="text/javascript" src="/plugin/jquery-easyui-1.5.5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/plugin/jquery-easyui-1.5.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
  <h2>历史查询</h2>
</body>
</html>