<!DOCTYPE html>
<html>
    <head lang="zh">
        <title>oa system</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
        <script type="text/javascript" src="plugin/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="plugin/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </head>
    <body>
        <header>
            <div class="brand">
                <span class="glyphicon glyphicon-apple"></span>
            </div>
        </header>
        <section>
            <div class="table">
                <div class="table-row-group">
                    <div class="table-row">
                        <div class="sidebar">
			                <div class="start-up"><span class="glyphicon glyphicon-menu-left"></span></div>
			                <div class="upward"><span class="glyphicon glyphicon-menu-up"></span></div>
			                <div class="sidebar-nav">
                                <div class="sidebar-menu">
                                    <ul class="sidebar-ul">
                                        <li id="menu-m1-001"><span class="glyphicon glyphicon-user"></span><a href="javascript:void(0);">个人办公</a></li>
                                        <li id="menu-m1-002"><span class="glyphicon glyphicon-bitcoin"></span><a href="javascript:void(0);">工作流程</a></li>
                                        <li id="menu-m1-003"><span class="glyphicon glyphicon-tree-deciduous"></span><a href="javascript:void(0);">行政办公</a></li>
                                        <li id="menu-m1-004"><span class="glyphicon glyphicon-fire"></span><a href="javascript:void(0);">信息系统</a></li>
                                        <li id="menu-m1-005"><span class="glyphicon glyphicon-leaf"></span><a href="javascript:void(0);">学习平台</a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-menu-2">
                                    <div class="two-menu display-none" >
                                        <ul id="menu-m2-001">
                                            <li id="menu-m3-0011"><a href="javascript:void(0);">工作日志</a></li>
                                            <li id="menu-m3-0012"><a href="javascript:void(0);">日程安排</a></li>
                                            <li id="menu-m3-0013"><a href="javascript:void(0);">日程管理</a></li>
                                            <li id="menu-m3-0014"><a href="javascript:void(0);">我的任务</a></li>
                                        </ul>
                                    </div>
                                    <div class="two-menu display-none">
                                        <ul id="menu-m2-002">
                                            <li id="menu-m3-0021"><a href="javascript:void(0);">我的工作</a></li>
                                            <li id="menu-m3-0022"><a href="javascript:void(0);">新建工作</a></li>
                                            <li id="menu-m3-0023"><a href="javascript:void(0);">历史查询</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
			                <div class="downward display-none"><span class="glyphicon glyphicon-menu-down"></span></div>
			            </div>
			            <div class="main-content">
			                <iframe src="/main"></iframe>
			            </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <span>请使用谷歌Chrome浏览器</span>
        </footer>
    </body>
</html>