<!DOCTYPE html>
<html>
    <head lang="zh">
        <title>我的系统</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <header>
            <div class="brand" title="我的品牌">
                <span class="glyphicon glyphicon-apple"></span>
            </div>
            <div class="head-nav">
                <div class="head-tab-left"><span class="glyphicon glyphicon-backward"></span></div>
                <div class="head-tab-right"><span class="glyphicon glyphicon-forward"></span></div>
                <div id="head-tabs">
                    <div id="tab-0" class="head-tab select-tab">
                        <span>主页</span>
                    </div>
                </div>
            </div>
            <div class="head-right">
                <div id="setting" class="head-menu" title="设置"><span class="glyphicon glyphicon-cog"></span></div>
                <div id="info" class="head-menu" title="信息"><span class="glyphicon glyphicon-info-sign"></span></div>
                <div id="logout" class="head-menu" title="退出"><span class="glyphicon glyphicon-log-out"></span></div>
            </div>
        </header>
        <section>
            <div class="table">
                <div class="table-row-group">
                    <div class="table-row">
                        <div class="sidebar">
			                <div class="start-up"><span class="glyphicon glyphicon-menu-left"></span></div>
			                <div class="upward"><span class="glyphicon glyphicon-menu-up"></span></div>
			                <div class="sidebar-nav">
                                <div class="sidebar-menu">
                                    <ul class="sidebar-ul">
                                        <li id="menu-m1-001" title="个人办公"><span class="glyphicon glyphicon-user"></span><a href="javascript:void(0);">个人办公</a></li>
                                        <li id="menu-m1-002" title="工作流程"><span class="glyphicon glyphicon-bitcoin"></span><a href="javascript:void(0);">工作流程</a></li>
                                        <li id="menu-m1-003" title="行政办公" class="click-menu"><span class="glyphicon glyphicon-tree-deciduous"></span><a href="javascript:void(0);" menuname="行政办公" menucode="http://irms.chinasoftosg.com:8082/idleResources">行政办公</a></li>
                                        <li id="menu-m1-004" title="信息查询" class="click-menu"><span class="glyphicon glyphicon-fire"></span><a href="javascript:void(0);" menuname="信息查询" menucode="https://www.baidu.com">信息查询</a></li>
                                        <li id="menu-m1-005" title="学习平台" class="click-menu"><span class="glyphicon glyphicon-leaf"></span><a href="javascript:void(0);" menuname="学习平台" menucode="http://xa.chinasoftosg.com/lms">学习平台</a></li>
                                    </ul>
                                </div>
                                <div class="sidebar-menu-2">
                                    <div class="two-menu display-none" >
                                        <ul id="menu-m2-001">
                                            <li id="menu-m3-00101" class="click-menu"><a href="javascript:void(0);" menuname="工作日志" menucode="/workflow/logging">工作日志</a></li>
                                            <li id="menu-m3-00102" class="click-menu"><a href="javascript:void(0);" menuname="日程安排" menucode="/workflow/schedule">日程安排</a></li>
                                            <li id="menu-m3-00103" class="click-menu"><a href="javascript:void(0);" menuname="日程管理" menucode="/workflow/management">日程管理</a></li>
                                        </ul>
                                    </div>
                                    <div class="two-menu display-none">
                                        <ul id="menu-m2-002">
                                            <li id="menu-m3-00201" class="click-menu"><a href="javascript:void(0);" menuname="我的工作" menucode="/workflow/myWork">我的工作</a></li>
                                            <li id="menu-m3-00202" class="click-menu"><a href="javascript:void(0);" menuname="新建工作" menucode="/workflow/creatework">新建工作</a></li>
                                            <li id="menu-m3-00203" class="click-menu"><a href="javascript:void(0);" menuname="历史查询" menucode="/workflow/history">历史查询</a></li>
                                            <li id="menu-m3-00204" class="click-menu"><a href="javascript:void(0);" menuname="流程管理" menucode="/workflow/processList">流程管理</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
			                <div class="downward display-none"><span class="glyphicon glyphicon-menu-down"></span></div>
			            </div>
			            <div id="main-content">
			                <iframe id="iframe-0" src="/workflow/main"></iframe>
			            </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <span>请使用谷歌Chrome浏览器</span>
        </footer>
    </body>
</html>