<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户登录</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="login-center">
            <h3>Sign in to System</h3>
            <form class="login-form" action="/login" method="post">
	            <div class="form-gruop">
	                <label for="username"></label>
	                <input id="username" class="form-control" type="text" name="username" value="lgr" placeholder="用户名">
	            </div>
	            <div class="form-gruop">
	                <label for="password"></label>
	                <input id="password" class="form-control" type="password" name="password" value="123" placeholder="密码">
	            </div>
	            <div class="checkbox">
	                <label><input type="checkbox" name="rememberMe" checked> 自动登录</label>
	                <a class="pull-right" href="#">忘记密码？</a>
	            </div>
	            <div class="form-group">
	               <input class="btn btn-primary form-control" type="submit" value="登录">
	            </div>
	            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #lists.isEmpty(msg)}">
	               <button class="close" type="button" data-dismiss="alert" >
	                   <span>&times;</span>
	               </button>
	               <span th:text="${msg}"></span>
	            </div>
	        </form>
        </div>
    </div>
</body>
    
</html>