<!DOCTYPE html>
<html>
<head lang="zh">
<title>新建工作</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
<script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.js"></script>
<style type="text/css">
  .row-first {
    margin-top: 15px;
  }
  .list-group-item a {
    cursor: pointer;
  }
  .list-group-item span {
    float: right;
    cursor: pointer;
    color: #aaa;
  }
  .list-group-item span:hover{
    color: #000;
  }
</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row row-first">
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">考勤</div>
          <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, 
           a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
            Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><a href="javascript:">加班申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
            <li class="list-group-item"><a href="javascript:">调休申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
            <li class="list-group-item"><a href="javascript:">请假申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
            <li class="list-group-item"><a href="javascript:">外出申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
            <li class="list-group-item"><a href="javascript:">忘打卡申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
         </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">人事</div>
          <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, 
           a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
            Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><a href="javascript:">入职申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
            <li class="list-group-item"><a href="javascript:">离职申请</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
         </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">报销</div>
          <div class="panel-body">
            <p>Some default panel content here. Nulla vitae elit libero, 
           a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
            Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><a href="javascript:">住宿报销</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
            <li class="list-group-item"><a href="javascript:">外出补贴</a><span class="glyphicon glyphicon-flag" title="流程图"></span></li>
         </ul>
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>