<!DOCTYPE html>
<html>
    <head lang="zh">
        <title>流程定义</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet"  href="/webjars/bootstrap/css/bootstrap.css">
        <link rel="stylesheet"  href="/css/common.css">
        <script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
        <script type="text/javascript"  src="/webjars/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/process-list.js"></script>
        <style type="text/css">
            .table th, .table td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="tool">
                <div id="create" class="tool-menu"><span class="glyphicon glyphicon-plus" role="button" title="部署" data-toggle="modal" data-target="#deployment"></span></div>
                <div id="refresh" class="tool-menu"><span class="glyphicon glyphicon-refresh" role="button" title="刷新"></span></div>
            </div>
            <div>
                <div class="modal fade" id="deployment" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                <h4 class="modal-title">部署流程</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="deploymentForm" action="/workflow/deploy" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="deploymentName" class="col-sm-2 control-label">部署名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="deploymentName" placeholder="名称" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="deploymentFile" class="col-sm-2 control-label">部署文件</label>
                                        <div class="col-sm-10">
                                            <input type="file" name="deploymentFile" placeholder="zip格式" required="required">
                                        </div>
                                    </div>
                                    <!-- <button id="submit" type="submit" style="display:none"></button> -->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button id="upload" type="submit" class="btn btn-primary" form="deploymentForm">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	        <div class="table-responsive">
	             <table class="table table-striped table-bordered table-hover">
	                 <thead>
	                     <tr>
	                         <th>流程定义ID</th>
	                         <th>部署ID</th>
	                         <th>流程定义名称</th>
	                         <th>流程定义KEY</th>
	                         <th>版本号</th>
	                         <th>XML资源名称</th>
	                         <th>图片资源名称</th>
	                         <th>操作</th>
	                     </tr>
	                 </thead>
	                 <tbody>
	                     <tr th:each="pd : ${processDefinition}">
	                         <td><a class="viewImage" href="javascript:" th:text="${pd.id}"></a></td>
	                         <td th:text="${pd.deploymentId}" class="deploymentId"></td>
	                         <td th:text="${pd.name}"></td>
	                         <td th:text="${pd.key}"></td>
	                         <td th:text="${pd.version}"></td>
	                         <td th:text="${pd.resourceName}"></td>
	                         <td th:text="${pd.diagramResourceName}"></td>
	                         <td>
	                             <a class="deleteDeploy" href="javascript:">删除</a>
	                             &nbsp;&nbsp;
	                             <a class="completeDelete" href="javascript:">彻底删除</a>
	                         </td>
	                     </tr>
	                 </tbody>
	             </table>
	         </div>
         </div>
    </body>
</html>